<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center mb-2 text-white text-decoration-none">
        <span class="fs-4 fw-bold">Stockly</span>
    </a>
    <hr class="mt-0 mb-3" />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="/inventory" Match="NavLinkMatch.All">
                <i class="bi bi-box-seam me-2"></i> Lagerlista
            </NavLink>
        </li>
    </ul>
</div>